@charset "UTF-8";

    html, body {
      height: 100%;
    }
    body {
      background-color: #fff;
      font-family: sans-serif;
      margin-top: 0;
      margin-bottom: 0;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    iframe {
      width: 100%;
      height: 100%;
      border-style: solid;
      border-color: #ddd;
      border-width: 0 1px 1px 0;
    }


  .codeBox{position: absolute; right: 10px; width: 30%; margin: 0px auto; top: 0; height: 100%}
  .codeBox h4{margin:0; padding:5px; background: #333; float:right; font-size: 12px; color:#fff; cursor:pointer;}
  .codeBox pre{clear: both; height:94%; overflow: scroll; background:#fff; position:absolute; left: 0px;width: 99%;top: 13px;}
  .toolBoxSelector{margin:0; padding:0; margin-left:20px;}
  .toolBoxSelector li{float:left; font-size: 12px; list-style: none; cursor: pointer; padding:2px 10px; margin-right: 10px;}
  .toolBoxSelector .selected{background:#333; color:#fff;}




