/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { counter-reset:linenumber; margin-top: 0; margin-bottom: 0; background: #E7E5DC;  } /* IE indents via margin-left */

ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
	  background: #fff;
    padding-left: 5px;
}
ol.linenums li:before{
    content: counter(linenumber);
    float: left;
    margin-left: -50px;
    text-align: right;
    width: 40px;
    border-right: 3px solid #72C871;
    padding-right: 5px;
    margin-right:10px;
}

ol.linenums li:nth-child(even) {background: #F0F0F0}
ol.linenums li:nth-child(odd) {background: #fff}



